* {
    margin: 0; 
    border: 0;
  }
  
  .container {
      display: flex;
      flex-direction: row;
  }
  
  .profile {
      display: flex;
      flex-direction: column;
      width: 200px;
  
      padding: 20px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .image {
      width: 100%;
      margin-bottom: 10px;
  }
  
  .status {
      font-size: 14px;
      font-weight: 600;
      color: #BCBCBC;
  }