* {
    margin: 0; 
    border: 0;
  }

  
  .build {
      display: flex;
      flex-direction: column;
      width: 200px;
  
      padding: 20px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .description {
      width: 100%;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
      color:rgba(251, 218, 108, 0.1);
  }
  
  .stats {
      font-size: 12px;
      font-weight: 600;
      color: #ffffff;
  }


  .vigor {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .attunement {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .endurance {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .vitality {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .strength {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .dexterity {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .intelligence {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .faith {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .luck {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

