* {
    margin: 0; 
    border: 0;
  }

  
  .build {
      display: flex;
      flex-direction: column;
      width: 1200px;
  
      padding: 20px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(255, 251, 251, 0.94);
  }

  .title {
    width: 100%;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 20px;
      font-weight: 600;
      color:rgb(0, 244, 253);
  }
  
  .description {
      width: 100%;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 14px;
      font-weight: 600;
      color:rgba(249, 192, 7, 0.814);
  }

  .vigor {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .attunement {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .endurance {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .vitality {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .strength {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .dexterity {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .intelligence {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .faith {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .luck {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

