* {
    margin: 0; 
    border: 0;
  }
  
  .weapon_array {
    display: flex;
    flex-direction: row;
  }

  .weapon {
      display: flex;
      flex-direction: row;
  }
  
  .weapon_image {
      height: 200px;
      margin-bottom: 10px;
  }
  
  .weapon_name {
      font-size: 20px;
      font-weight: 600;
      color: #38508c;
  }